node_modules
.env
./dist
packages/create-evershop-app/sample
.idea/*
.evershop
.vscode
npm-debug.log
/package-log.json
/media
/public
.DS_Store
.log
coverage
cypress
.prettierignore
.prettierrc
mysqlToPostgres.js
packages/evershop/src/lib/componee
