.product-name {
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--onSurface);
  letter-spacing: 0.02em;
  transition: color 0.2s ease;

  a:hover,
  a:focus-visible {
    color: var(--highlight);
  }
}
